.d-body {
  font-family: arial;
  text-align: center;
  background-image: url(https://vignette.wikia.nocookie.net/bobs-burgers-fanon/images/7/7a/Gene_belcher_render.png/revision/latest?cb=20170920184921);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(129, 187, 67);

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

#drum-machine {
  background-color: rgb(2, 120, 194);
  border: 3px solid black;
  border-radius: 8px;
  display: inline-block;
  margin-top: 45vh;
  width: 80%;
}

.d-display {
  background-color: rgb(148, 193, 30);
  border: 3px solid black;
  border-radius: 8px;
  display: inline-block;
  padding: 1rem 0;
  width: 55vw;
  margin: 0.5rem 0;
}

.d-wrapper {
  display: inline-block;
  height: 38vh;
  width: 70vw;
}

.d-drum-pad {
  background-color: white;
  border: 3px solid black;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  color: rgb(255, 115, 95);
  display: inline-block;
  height: 70%;
  margin-left: 0.1%;
  margin-right: 0.1%;
  padding-top: 1rem;
  width: 8%;
}

.d-pressed {
  color: black;
  background-color: rgb(252, 225, 48);
}
