/*
li {
  list-style-type: none;
} */

.h-title {
  margin: 1.5rem auto;
}

.h-about-wrapper {
  margin: 0 auto;
  width: 90vw;
  text-align: left;
}

.h-desc {
  display: inline-block;
  margin: 0.5rem auto 1.5rem auto;
  text-align: justify;
}

.h-link-wrapper {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.h-link {
  text-decoration: none;
  color: white;
}

.h-project-tile {
  border-radius: 20px;
}

.h-link:hover {
  color: blue;
}

.h-projectTitle {
  background-color: #0292B7;
  width: 100%;
  max-width: 600px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.h-image {
  max-width: 600px;
  max-height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 0;
}
