.p-body {
  background-color: rgb(1, 96, 102);
  color: white;
  font-family: arial;
  margin: 0;
  text-align: center;

  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.p-title {
  margin-top: 5%;
}

/* classes */
.p-line-through {
  text-decoration-line: line-through;
}

.p-trapezoid {
  border-bottom: 40px solid rgb(175, 85, 25);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  margin: 15% auto 0 auto;
  width: 40px;
}

.p-box {
  background-color: rgb(86, 61, 21);
  border: 20px solid rgb(86, 61, 21);
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 0;
}

.p-clock-border {
  background-color: rgb(60, 15, 12);
  border-radius: 12px;
  width: 430px;
}

.p-unit-wrapper {
  display: inline-block;
  padding: 1rem 2rem;
  text-align: center;
}

.p-label {
  font-size: 0.75rem;
}

.p-display {
  font-size: 1.2rem;
  padding: 0.5rem 0;
}

.p-button {
  background-color: inherit;
  border: none;
  color: white;
  font-size: 12px;
  width: 1rem;
}

.p-button:hover {
  background-color: white;
  border-radius: 8px;
  color: black;
}

.p-play-button {
  width: 2.5rem;
}

.p-pad-wrapper {
  display: inline-block;
  width: 430px;
  text-align: left;
}

.p-pad {
  position: relative;
  top: -2px;
  background-color: rgb(31, 20, 28);
  display: inline-block;
  width: 20px;
  height: 12px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.p-right {
  margin-left: 390px
}
